body {
	background-color: #f4f4ec;
	font-family: 'Vollkorn', serif;
	color: #262626;
	display: flex;
	justify-content: center;
}

.resume-container {
	display: flex;
	align-items: center;
	flex-flow: column;
	max-width: 900px;
	margin: 1rem;
	width: 90vw;
	border: double #1b593c;
	border-width: 4px;
}

#resume-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

#name {
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	font-size: 3.5rem;
	color: #1b593c;
	width: 100%;
	margin-top: 1rem;
	z-index: 1;
	position: relative;
	top: 10px;
	left: 70px;
	/* border: 1px solid blue; */
}

#profile-img {
	position: relative;
	right: 50px;
	top: 20px;
	height: 10rem;
	border-radius: 100%;
}

.contact-info > p {
	text-align: center;
	line-height: 1.5;
	font-weight: 700;
	position: relative;
	right: 60px;
	/* border: 1px solid black; */
}

.profile-text {
	margin: 1rem 0;
	line-height: 1.25;
}

#profile {
	padding: 2rem;
}

.section-title {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 1.75rem;
	margin-bottom: 1.25rem;
	color: #1b593c;
}

.content-title {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 1.25rem;
	color: #262626;
}

.resume-body {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.container-left {
	display: flex;
	flex-flow: column;
	text-align: right;
	/* margin-right: 3rem; */
	border-right: 2px solid #1b593c;
	border-top: 2px solid #1b593c;
	height: 96%;
	width: 30%;
}

.container-right {
	padding-left: 2rem;
	margin-right: 1rem;
	border-top: 2px solid #1b593c;
	width: 60%;
}

#skills {
	width: 100%;
	/* border: 1px solid red; */
	padding: 0 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.skills-item {
	font-family: 'Lora', serif;
	font-size: 1.25rem;
	font-weight: bold;
	padding: .25rem;
	color: #262626;
}

.job-title {
	font-style: italic;
}

.content-title {
	margin-bottom: .25rem;
}

#references {
	/* border: 1px solid green; */
	width: 100%;
	padding-right: 1rem;
	overflow-wrap: break-word;
	/* margin-right: 1rem; */
}

.reference-container {
	margin-bottom: 1rem;
}

.reference-container > p {
	line-height: 1.25;
}

#experience {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.experience-container {
	margin-bottom: 1.55rem;
}

.experience-info {
	font-style: italic;
}

.experience-list {
	list-style-type: circle;
	margin-left: 1rem;
}

.experience-item {
	font-family: 'Lora', serif;
	font-size: 1rem;
	margin: .75rem 0;
	color: #262626;
}

#education {
	margin-bottom: 3rem;
}

.education-container {
	margin-bottom: 1.5rem;
}

.education-info {
	font-style: italic;
}

a:hover {
	color: #7e7b73;
}
